.center-display{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.padding-avatar{
    padding: 16px 16px 0px 16px;
}

.block-display{
    display: block;
}

#p-margin{
    margin: 0px;
}

ion-avatar{
    width:70px;
    height:70px;
}